<div class="card p-3 custom-card">
  <div class="d-flex justify-content-between align-items-center">
    <div>
      <div class="fw-bold nome-aluno">{{ nomeAluno }}</div>
      <small class="small-date">Gerado em {{ dataEmissao }}</small>
    </div>
    <div class="d-flex gap-2 align-items-center">
      <button
        class="btn-excluir"
        (click)="excluirCertificado()"
        title="Excluir certificado"
      >
        <i class="ph ph-trash"></i>
      </button>
      <app-secondary-button
        textoBotao="Ver"
        (click)="redirecionaCertificado()"
      ></app-secondary-button>
    </div>
  </div>
</div>
